<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sf.dao.TfSysJobDao">

	<select id="get" resultType="com.sf.domain.TfSysJobDO">
		select `JOB_ID`,`JOB_NAME`,`JOB_TYPE`,`JOB_CLASS`,`JOB_PARAMS`,`ALARM_TYPE`,`ALARM_RECEIVER`,`USE_TAG`,`EXEC_TIME`,`REMARK`,`CREATE_TIME`,`CREATE_BY`,`UPDATE_TIME`,`UPDATE_BY`,`SERVER_NODE` from tf_sys_job where JOB_ID = #{value}
	</select>

	<select id="list" resultType="com.sf.domain.TfSysJobDO">
		select `JOB_ID`,`JOB_NAME`,`JOB_TYPE`,`JOB_CLASS`,`JOB_PARAMS`,`ALARM_TYPE`,`ALARM_RECEIVER`,`USE_TAG`,`EXEC_TIME`,`REMARK`,`CREATE_TIME`,`CREATE_BY`,`UPDATE_TIME`,`UPDATE_BY`,`SERVER_NODE` from tf_sys_job
        <where>
		  		  <if test="jobId != null and jobId != ''"> and JOB_ID = #{jobId} </if>
		  		  <if test="jobName != null and jobName != ''"> and JOB_NAME = #{jobName} </if>
		  		  <if test="jobType != null and jobType != ''"> and JOB_TYPE = #{jobType} </if>
		  		  <if test="jobClass != null and jobClass != ''"> and JOB_CLASS = #{jobClass} </if>
		  		  <if test="jobParams != null and jobParams != ''"> and JOB_PARAMS = #{jobParams} </if>
		  		  <if test="alarmType != null and alarmType != ''"> and ALARM_TYPE = #{alarmType} </if>
		  		  <if test="alarmReceiver != null and alarmReceiver != ''"> and ALARM_RECEIVER = #{alarmReceiver} </if>
		  		  <if test="useTag != null and useTag != ''"> and USE_TAG = #{useTag} </if>
		  		  <if test="execTime != null and execTime != ''"> and EXEC_TIME = #{execTime} </if>
		  		  <if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		  		  <if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
		  		  <if test="createBy != null and createBy != ''"> and CREATE_BY = #{createBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and UPDATE_TIME = #{updateTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and UPDATE_BY = #{updateBy} </if>
		  		  <if test="serverNode != null and serverNode != ''"> and SERVER_NODE = #{serverNode} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by JOB_ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

 	<select id="count" resultType="int">
		select count(*) from tf_sys_job
		 <where>
		  		  <if test="jobId != null and jobId != ''"> and JOB_ID = #{jobId} </if>
		  		  <if test="jobName != null and jobName != ''"> and JOB_NAME = #{jobName} </if>
		  		  <if test="jobType != null and jobType != ''"> and JOB_TYPE = #{jobType} </if>
		  		  <if test="jobClass != null and jobClass != ''"> and JOB_CLASS = #{jobClass} </if>
		  		  <if test="jobParams != null and jobParams != ''"> and JOB_PARAMS = #{jobParams} </if>
		  		  <if test="alarmType != null and alarmType != ''"> and ALARM_TYPE = #{alarmType} </if>
		  		  <if test="alarmReceiver != null and alarmReceiver != ''"> and ALARM_RECEIVER = #{alarmReceiver} </if>
		  		  <if test="useTag != null and useTag != ''"> and USE_TAG = #{useTag} </if>
		  		  <if test="execTime != null and execTime != ''"> and EXEC_TIME = #{execTime} </if>
		  		  <if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		  		  <if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
		  		  <if test="createBy != null and createBy != ''"> and CREATE_BY = #{createBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and UPDATE_TIME = #{updateTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and UPDATE_BY = #{updateBy} </if>
		  		  <if test="serverNode != null and serverNode != ''"> and SERVER_NODE = #{serverNode} </if>
		  		</where>
	</select>

	<insert id="save" parameterType="com.sf.domain.TfSysJobDO">
		insert into tf_sys_job
		(
			`JOB_ID`,
			`JOB_NAME`,
			`JOB_TYPE`,
			`JOB_CLASS`,
			`JOB_PARAMS`,
			`ALARM_TYPE`,
			`ALARM_RECEIVER`,
			`USE_TAG`,
			`EXEC_TIME`,
			`REMARK`,
			`CREATE_TIME`,
			`CREATE_BY`,
			`UPDATE_TIME`,
			`UPDATE_BY`,
			`SERVER_NODE`
		)
		values
		(
			#{jobId},
			#{jobName},
			#{jobType},
			#{jobClass},
			#{jobParams},
			#{alarmType},
			#{alarmReceiver},
			#{useTag},
			#{execTime},
			#{remark},
			#{createTime},
			#{createBy},
			#{updateTime},
			#{updateBy},
			#{serverNode}
		)
	</insert>

	<update id="update" parameterType="com.sf.domain.TfSysJobDO">
		update tf_sys_job
		<set>
			<if test="jobName != null">`JOB_NAME` = #{jobName}, </if>
			<if test="jobType != null">`JOB_TYPE` = #{jobType}, </if>
			<if test="jobClass != null">`JOB_CLASS` = #{jobClass}, </if>
			<if test="jobParams != null">`JOB_PARAMS` = #{jobParams}, </if>
			<if test="alarmType != null">`ALARM_TYPE` = #{alarmType}, </if>
			<if test="alarmReceiver != null">`ALARM_RECEIVER` = #{alarmReceiver}, </if>
			<if test="useTag != null">`USE_TAG` = #{useTag}, </if>
			<if test="execTime != null">`EXEC_TIME` = #{execTime}, </if>
			<if test="remark != null">`REMARK` = #{remark}, </if>
			<if test="createTime != null">`CREATE_TIME` = #{createTime}, </if>
			<if test="createBy != null">`CREATE_BY` = #{createBy}, </if>
			<if test="updateTime != null">`UPDATE_TIME` = #{updateTime}, </if>
			<if test="updateBy != null">`UPDATE_BY` = #{updateBy}, </if>
			<if test="serverNode != null">`SERVER_NODE` = #{serverNode}</if>
		</set>
		where JOB_ID = #{jobId}
	</update>

	<delete id="remove">
		delete from tf_sys_job where JOB_ID = #{value}
	</delete>

	<delete id="batchRemove">
		delete from tf_sys_job where JOB_ID in
		<foreach item="jobId" collection="array" open="(" separator="," close=")">
			#{jobId}
		</foreach>
	</delete>

</mapper>